* {
	 box-sizing: border-box;
}
 *::before, *::after {
	 box-sizing: border-box;
}

.accordion[style]{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.accordion{
    padding-left: 0 !important;
    padding-right: 0 !important;
}



@font-face {
	font-family: "CircularStd";
	src: url("../fonts/CircularStd-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/CircularStd-Black.woff") format("woff"), url("../fonts/CircularStd-Black.ttf") format("truetype"), url("../fonts/CircularStd-Black.svg#CircularStd-Black") format("svg");
	font-weight: normal;
	font-style: normal;
}

 .accordion .accordion-item {
	margin: 5px;
	margin-bottom: 30px;
	background-color: #ffffff;
	border-radius: 3px;
	padding: 5px;
}
 .accordion .accordion-item button[aria-expanded='true'] {
	 border-bottom: 1px solid#92dce5;
	 
}
 .accordion button {
	font-family: "CircularStd", sans-serif;
	 position: relative;
	 display: block;
	 text-align: left;
	 width: 100%;
	 padding: 1em;
	 padding-right: 15px;
	 padding-left: 15px
	 color:  #2B2D42;
	 font-size: 1.15rem;
	 font-weight: 400;
	 border: none;
	 background: none;
	 outline: none;
}
 .accordion button:hover, .accordion button:focus {
	 cursor: pointer;
	 color: #92dce5;
}
 .accordion button:hover::after, .accordion button:focus::after {
	 cursor: pointer;
	 color: #92dce5;
	 border: 1px solid #92dce5;
}
 .accordion button .accordion-title {
	 padding: 1em 1.5em 1em 0;
}
 .accordion button .icon {
	 display: inline-block;
	 position: absolute;
	 top: 18px;
	 right: 0;
	 width: 22px;
	 height: 22px;
	 border: 1px solid;
	 border-radius: 22px;
}
 .accordion button .icon::before {
	 display: block;
	 position: absolute;
	 content: '';
	 top: 9px;
	 left: 5px;
	 width: 10px;
	 height: 2px;
	 background: currentColor;
}
 .accordion button .icon::after {
	 display: block;
	 position: absolute;
	 content: '';
	 top: 5px;
	 left: 9px;
	 width: 2px;
	 height: 10px;
	 background: currentColor;
}
 .accordion button[aria-expanded='true'] {
	 color: #92dce5;
}
 .accordion button[aria-expanded='true'] .icon::after {
	 width: 0;
}
 .accordion button[aria-expanded='true'] + .accordion-content {
	 opacity: 1;
	 max-height: 9em;
	 transition: all 200ms linear;
	 will-change: opacity, max-height;
}
 .accordion .accordion-content {
	 opacity: 0;
	 max-height: 0;
	 overflow: hidden;
	 transition: opacity 200ms linear, max-height 200ms linear;
	 /*
     border-right: 2px dashed #415a77;
     border-left: 2px dashed #415a77;
     border-bottom: 2px dashed #415a77;*/
     will-change: opacity, max-height;
     border-radius: 10px;
     padding-left: 10px;
     padding-right: 10px;
}
 .accordion .accordion-content p {
	 font-size: 1rem;
	 font-weight: 300;
	 margin: 2em 0;
}
 