:root {
    /* Light Mode Colors */
    --bg-color: #F8F7F9; 
    --text-color: #2B2D42;
    --cool-color: #92DCE5;
    --button-color: #6C809A
    }

    #fp-nav ul li a span, .fp-slidesNav ul li a span {
        background: #363635;
    }

@font-face {
    font-family: 'CircularStd';
    src: url('../fonts/CircularStd-Black.eot?#iefix') format('embedded-opentype'),  url('../fonts/CircularStd-Black.woff') format('woff'), url('../fonts/CircularStd-Black.ttf')  format('truetype'), url('../fonts/CircularStd-Black.svg#CircularStd-Black') format('svg');
    font-weight: normal;
    font-style: normal;
  }

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-60px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(35px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInLeft {
    0% {
       opacity: 0;
       transform: translateX(-20px);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
 }   

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    text-align: center;
    /* width: 100vh;
    height: 500%; */
    display: inline-block;
    height: 50vh;
    margin: auto;
    padding: 25vh;
}

#frontPage {
    color: var(--text-color);
    text-align: center;
    background-color: var(--cool-color);
    height: 100%;
    
}

.border-box {
    margin-right: 10%;
    margin-left: 10%;
    padding-bottom: 2%;
}

#title {
    font: bold;
    font-family: 'CircularStd';
    padding-top: 5%;
}

.fadeInDown {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

#mainTitle {
    font-size: 110px;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.subTitle {
    font-size: 32px;
}

#slogan {
    font-size: 45px;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.event-schedule {
    max-width: 50%;
    background-color: black;
    float: right;
}

#attendee {
    background-color: var(--button-color);
    border: none;
    color:var(--text-color);
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.8;
    transition: 0.3s;
    transition: all 0.5s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    text-rendering: auto;
    text-decoration: solid;
    position: static;
}

#attendee:hover {
    opacity: 1;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}