:root {
  /* Light Mode Colors */
  --bg-color: #F8F7F9;
  --text-color: #2B2D42;
  --cool-color: #92DCE5;
  --button-color: #415A77;
  --paper-color: #DBCDC6;
}

/* Keyframe animations */
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-60px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(35px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@-webkit-keyframes background {
  0% {
    background-position: 0% 14%;
  }
  50% {
    background-position: 100% 87%;
  }
  100% {
    background-position: 0% 14%;
  }
}
@-moz-keyframes background {
  0% {
    background-position: 0% 14%;
  }
  50% {
    background-position: 100% 87%;
  }
  100% {
    background-position: 0% 14%;
  }
}
@keyframes background {
  0% {
    background-position: 0% 14%;
  }
  50% {
    background-position: 100% 87%;
  }
  100% {
    background-position: 0% 14%;
  }
}
/* HTML Helpers */
.fadeInDown {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

/* Layout styles */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  overflow: hidden;
}

main {
  max-height: 100vh;
}

.section {
  box-shadow: #000a 5px 0 10px;
  min-height: 100vh;
  position: relative;
  padding: 30px 15px;
}

#section2 {
  background-color: var(--cool-color);
}

#section3 {
  background-color: var(--button-color);
}

#section4,
#section5 {
  background-color: var(--paper-color);
}

/* Typography */
@font-face {
  font-family: "CircularStd";
  src: url("../fonts/CircularStd-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/CircularStd-Black.woff") format("woff"), url("../fonts/CircularStd-Black.ttf") format("truetype"), url("../fonts/CircularStd-Black.svg#CircularStd-Black") format("svg");
  font-weight: normal;
  font-style: normal;
}
:root {
  font-family: "CircularStd", sans-serif;
}

.section-title {
  font-size: 48px;
  color: var(--bg-color);
  margin: 0;
  padding: 20px 0;
}

.text-dark {
  color: var(--text-color);
}

.px-0 {
  padding: 0;
}

/* Scroll snapping - nonessential CSS component, replaces fullpage */
/* Chrome 69+ FF 68+ Edge 79+ Safari 11+ NO IE*/
/*.scroll-snap {
  overflow: auto;
  position: relative;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: both proximity;
}
.scroll-snap .section {
  scroll-snap-align: start;
  scroll-snap-stop: normal;
}*/

/* Front page header section */
#section1 {
  background: linear-gradient(136deg, #5d949b, #8bb4b9);
  background-size: 400% 400%;
  -webkit-animation: background 8s ease infinite;
  -moz-animation: background 8s ease infinite;
  animation: background 8s ease infinite;
  position: relative;
  top: 0;
}
#section1 > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
}
#section1 #particles {
  bottom: 0;
}
#section1 #frontPage {
  text-align: center;
  font-weight: bold;
  z-index: 10;
}
#section1 #frontPage #logo {
  width: 128px;
}
#section1 #frontPage #mainTitle {
  font-size: 42px;
  margin-bottom: 3%;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
#section1 #frontPage #slogan {
  font-family: "Abel" !important;
  font-size: 32px;
  margin-bottom: 30px;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
#section1 #frontPage .subtitle {
  font-size: 18px;
  font-family: "Abel" !important;
}
@media screen and (min-width: 992px) {
  #section1 #frontPage #logo {
    width: 200px;
  }
  #section1 #frontPage #mainTitle {
    font-size: 110px;
    margin-bottom: 0;
  }
  #section1 #frontPage #slogan {
    font-size: 48px;
  }
  #section1 #frontPage .subtitle {
    font-size: 24px;
  }
}

/* New FAQ accordion component*/
.neocordion {
  background-color: var(--cool-color);
  color: var(--text-color);
  text-align: center;
  max-width: 100%;
  padding: 0;
}
.neocordion summary {
  font-size: 24px;
  padding: 20px;
}
.neocordion .neocordion-answer {
  background-color: var(--paper-color);
  font-size: 18px;
  padding: 20px;
}
.neocordion:first-of-type {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.neocordion:last-of-type {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* Responsive Table for Schedule */
.responsive-table {
  padding-left: 0;
}
.responsive-table li {
  background-color: #fff;
  border-radius: 3px;
  list-style: none;
  margin-bottom: 15px;
  padding: 20px;
}
.responsive-table .col-1, .responsive-table .col-3 {
  width: 100px;
}
.responsive-table .col-2 {
  padding: 0 15px;
}
@media (max-width: 512px) {
  .responsive-table .col-3 {
    display: none;
  }
}

/* Team member images */
.team-members-wrapper {
  display: flex;
  margin: auto;
  margin-top: 20px;
  max-width: 768px;
  padding: 0 10px;
}
.team-members-wrapper li {
  list-style: none;
}
.team-members-wrapper li img {
  border-radius: 5px;
  width: 180px;
  height: 180px;
  margin: auto;
}
.team-members-wrapper li p {
  font-size: 18px;
}
.team-members-wrapper .team-socials a img {
  border-radius: 5px;
  height: 30px;
  width: 30px;
  margin-left: 8px;
}
@media (min-width: 768px) {
  .team-members-wrapper {
    justify-content: space-between;
  }
}

/* Register button on front page */
#register-cta {
  display: inline-block;
  position: static;
  background-color: #415a77;
  border-radius: 15px;
  border: none;
  color: gainsboro;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  text-rendering: auto;
  text-decoration: solid;
  margin-bottom: 3%;
  padding: 16px 32px;
  transition: all 0.5s;
}
#register-cta:hover {
  opacity: 1;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

/*# sourceMappingURL=index.css.map */
