:root {
  /* Light Mode Colors */
  --bg-color: #F8F7F9; 
  --text-color: #2B2D42;
  --cool-color: #92DCE5;
  --button-color: #415A77;
  --paper-color: #DBCDC6;
}

// Utilities
@import './util/animations';
@import './util/layout';
@import './util/typography';
@import './util/scroll-snap';

// Sections
@import './sections/header';

// Components
@import './components/neocordion';
@import './components/schedule';
@import './components/team_member';
@import './components/register-cta';