
/* Root styles */

:root {
  /* Light Mode Colors */
  --bg-color: #F8F7F9;
  --text-color: #2B2D42;
  --cool-color: #92DCE5;
  --button-color: #415A77;
  --paper-color: #F3F0F1;
}

* {
  box-sizing: border-box;
}

*::before, *::after {
  box-sizing: border-box;
}