/* New accordion component*/

.neocordion {
  background-color: var(--cool-color);
  color: var(--text-color);

  width: 50%;


  text-align: center;

  summary {
    font-size: 30px;
    padding: 20px;
  }

  .neocordion-answer {
    background-color: var(--paper-color);
    font-size: 24px;
    padding: 20px;
  }

  &:first-of-type {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  &:last-of-type {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

.neocordion {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 50px;
  max-width: 768px;
  padding: 0px;

  li {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-bottom: 30px;

    p {
      font-size: 24px;
    }
  }

  ul {
    display: flex;
    flex-direction: row;
  }

  #slide1 {
    float: left !important;
  }

  #slide2 {
    float: right !important;
  }
}