
/* Front page header */

.header-wrapper {
  position: relative;
  height: 100%;
  width: 100%;

  > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  #gradient {
    background: linear-gradient(136deg, #5d949b, lighten(#5d949b, 15));
    background-size: 400% 400%;

    -webkit-animation: background 8s ease infinite;
    -moz-animation: background 8s ease infinite;
    animation: background 8s ease infinite;
  }

  #frontPage {
    /* color: var(--text-color); */
    text-align: center;
    font-weight: bold;
    font-family: 'CircularStd';

    z-index: 10;
    padding-top: 7%;
    padding-bottom: 4%;
    
    .border-box {
      margin: 0 10%;
    }

    #mainTitle {
      font-size: 110px;
      margin-bottom: 3%;

      -webkit-animation-duration: 2s;
      animation-duration: 2s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;

      @media screen and (max-width: 992px) {
        font-size: 16px;
      }
    }

    #slogan {
      font-family: 'Abel' !important;
      font-size: 45px;
      margin-bottom: 2%;

      -webkit-animation-duration: 2s;
      animation-duration: 2s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
    }

    .subtitle {
      font-size: 25px;
      font-family: 'Abel' !important;
    }
  }
}