/* Responsive Table for Schedule */

.responsive-table {
  padding-left: 0;

  li {
    background-color: #fff;
    border-radius: 3px;
    list-style: none;
    margin-bottom: 15px;
    padding: 20px;
  }

  .col-1, .col-3 {
    width: 100px;
  }

  .col-2 {
    padding: 0 15px;
  }

  @media (max-width: 512px) {
    .col-3 {
      display: none;
    }
  }
}