
/* Team member images */
.team-members-wrapper {
  display: flex;
  margin: auto;
  margin-top: 20px;
  max-width: 768px;
  padding: 0 10px;

  li {
    list-style: none;

    img {
      border-radius: 5px;
      width: 180px;
      height: 180px;
      margin: auto;
    }

    p {
      font-size: 18px;
    }
  }
  
  .team-socials {
    a img {
      border-radius: 5px;
      height: 30px;
      width: 30px;
      margin-left: 8px;
    }
  }

  @media (min-width: 768px) {
    justify-content: space-between;
  }
}