
.faq {
  width: 70%;
  display: table;
}

.faq-row {
  display: table-row;

}

.faq-item {
  width: 50%;
  display: table-cell;
}

@media only screen and (max-width: 998px) {
  .faq {
    display: block;
  }

  .faq-row {
    display: initial;
  }

  .faq-item {
    display: inherit;
  }

  #faq {
    overflow: hidden;
    width: 90vw;
  }
}
  