
#social-links {
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 30px;
  padding-bottom: 10px;
  text-align: center;

  .social-link {
    text-decoration: none;
  }

  .social-link img {
    height: 50px;
    width: 50px;
  }
}