
#about {
  background-color: var(--bg-color) !important;
  padding-top: 5vh;
  padding-bottom: 5vh;
  text-align: center;

  > p {
    font-size: 18px;
    margin-right: 10vw;
    margin-left: 10vw;
    font-family: "Abel";
    font-weight: bold;
  }
}
  