
/* Keyframe animations */

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-60px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(35px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}  

@-webkit-keyframes background {
  0% {
    background-position: 0% 14%
  }
  50% {
    background-position: 100% 87%
  }
  100% {
    background-position: 0% 14%
  }
}

@-moz-keyframes background {
  0% {
    background-position: 0% 14%
  }
  50% {
    background-position: 100% 87%
  }
  100% {
    background-position: 0% 14%
  }
}

@keyframes background {
  0% {
    background-position: 0% 14%
  }
  50% {
    background-position: 100% 87%
  }
  100% {
    background-position: 0% 14%
  }
}

/* HTML Helpers */

.fadeInDown {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}