
/* Fullpage CSS Overrides */

#fp-nav ul li a span, .fp-slidesNav ul li a span {
  background: #363635;
}

.fp-controlArrow {
  padding-left: 5% !important;
  padding-right: 5% !important;
  border-radius: 10px !important;
}