
/* Layout styles */

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  display: inline-block;
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  word-wrap: break-word;
}

main {
  margin: 0;
  height: 100vh;
  position: relative;
}

.section {
  box-shadow: #000a 5px 0 10px; // TEMP
  min-height: 100vh;
  position: relative;
}

#section2 {
  background-color: var(--cool-color);
}

#section3 {
  background-color: var(--button-color);
}

#section4, #section5 {
  background-color: var(--paper-color);
}
