
/* Layout styles */

#section2 {
  background-color: var(--cool-color);
}

#section3 {
  background-color: var(--button-color);
}

#section4 {
  background-color: var(--button-color);
}

#section5 {
  background-color: var(--paper-color);
}

#section6 {
  background-color: var(--paper-color);
}